.body-start {
	background-color: #000;
	font-family: "Roboto";
}

.wrapper-intro {
	display: grid;
	place-items: center;
	width: 80%;
	min-height: 90vh;
	margin: 0 auto;
}

.wrapper-intro h1 {
	font-size: 3vw;
	font-weight: normal;
	color: #3f91ac;
	text-shadow: 0 0 5px #3f91ac;
}

.wrapper-intro h2 {
	position: absolute;
	font-size: 1.5vw;
	bottom: 3rem;
	color: #b43535;
	animation: light 1.5s ease-in-out infinite;
}

@keyframes light {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
}